.nav {
  display: flex;
  padding-inline: 3rem;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1.8rem;
  padding-block: 1.2rem;
}
.class {
  position: absolute;
  text-align: center;
  border-radius: 0.5rem;
  /* padding: 20px 3px; */
  background-color: #fff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.06);
  padding-block: 1.2rem;
}
/* code {
} */

.sub__menus {
  display: none;
}
#nav__li a {
  text-decoration: none;
}

.mobnav {
  display: none;
}

.ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  list-style: none;
}

.navlink:link,
.navlink:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.6rem 1.6rem 0.6rem 1.6rem;
  color: #343a40;
  position: relative;
}

nav a.active {
  border-bottom: 5px solid #20c997;
}

.navlink__home {
  color: #343a40;
}
/* 
nav:hover a.activ {
  border-bottom: 2px solid #20c997;
  color: #0abb89;
} */

.btn {
  font-family: inherit !important;
  padding: 0.8rem 1.6rem;
  outline: none;
  border: none;
  background: none;
  font-size: 1.6rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 0 5px #e9ecef;
}
#btn_n {
  box-shadow: inset 0 0 0 2px #20c997;
  color: #343a40 !important;
}

#btn_full {
  background-color: #20c997;
  color: #fff;
}

#btn_full:hover {
  background-color: #168d6a;
}

.navbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

@media only screen and (max-width: 730px) {
  .ul {
    display: none;
  }
  .mobnav {
    display: block;
  }
}
